.u-section-1 .u-sheet-1 {min-height: 553px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin: 20px -67px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {font-size: 1.875rem; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {font-size: 1.5rem} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 28px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-top: 27px; margin-left: 18px; margin-right: 18px} }